<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	 <link rel="stylesheet" href="./HojaDeEstilo.css"/>

     <nav class="navbar navbar-expand-sm bg-dark">

         <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/iniciousuario">Inicio</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/perfilcandidato">Mi Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Cerrar Sesion</a>
              </li>
     </nav>
     <h1>
       Nombre Apellido
      </h1>
  </head>
  <body>
    <div class="container">
      <div class="toggleButton">
         <div class="border">
           <div class="button">

           </div>
         </div>
       </div>
       <div class="day">
      <div class="row">
        <p>
          Nombre Completo
        </p>
        <img src="" alt="">
        </img>
      </div>
        <p>
          Edad:
        </p>
        <p>
          Fecha De Nacimiento:
        </p>
        <p>
          Documento:
        </p>
        <p>
          Sexo:
        </p>
        <p>
          Estado Civil:
        </p>
        <p>
          Direccion:
        </p>
        <p>
          Codigo Postal
        </p>
        <p>
          Telefono:
        </p>
        <p>
          Email:
        </p>
        <p>
          Carta Presentacion
        </p>
        <p>
          Estudios:
        </p>
        <p>
          Experiencias Laborales:
        </p>
        <p>
          Idiomas:
        </p>
        <p>
          Permiso de conducir~VehiculoPropio
        </p>
        <p>
          Otro Curriculum
        </p>
      </div>
      </div>
      <script type="text/javascript" src="ModoOscuro.js"></script>

  </body>
</html>
