

.margenesRegistro{
	margin-left: 200;
	margin-right: 200;
	margin-top: 150;
	margin-bottom: 150;
}

.InicioCss{
align-items: center;

}

.filtrar{
	margin-left: 500px;
}

.estado{
	margin-left: 400px;
}

.fecha{
	margin-left: 500px;
}

.TestInvitaciones{
	margin-left: 450px;
}

.inputInicio1{
	margin-left: 30%;
}

.MisSolicitudes{
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
	margin-top: 300px;
	border-style: solid;
	border-width: medium;
}
body{
	background-color: #4b3621;
}

.InicioCss{
	background-color: #4b3621;
}


:root{
	--bgWhite:white;
	--bgBlack:black;
	--colorBlack:var(--bgBlack);
	--colorWhite: var(--bgWhite);
}
.border{
	position: absolute;
	width: 60px;
	height: auto;
	background: var(--bgWhite);
	border:2px solid var(--colorBlack);
	border-radius: 10px;
	cursor: pointer;
	margin:30px;
}
.button{
	width: 20px;
	height: 20px;
	margin:10px;
	border-radius: 50%;
	background: var(--bgBlack);
	transition: .5s;
}
.day{
	width: 100%;
	height: 100vh;
	padding: 80px 30px 0px 30px;
	box-sizing: border-box;
	background: var(--bgWhite);
	color:var(--colorBlack);
	transition: 1s;
	text-align: justify;
}


.activeBorder{
	background: var(--bgBlack);
	border:2px solid var(--colorWhite);
}
.active{
	background: var(--bgWhite);
	transform: translateX(100%);
}
.night{
	background: var(--bgBlack);
	color:var(--colorWhite);
}


.Solicitud{
	padding-left: ($spacer * .5) !important;
	padding-right: ($spacer * .5) !important;
	margin-top: 200px;
}



.ImagenPerfil{
	width: 100px;
	height: 100px;
}
.PerfilCandidato{
	border-style: solid;
	border-width: medium;
}




.PerfilEmpresa{
	width: 50px;
	height: 50px
	margin-left: 60%;
}

.OfertasMisOfertas{
	padding-left: ($spacer * .5) !important;
	padding-right: ($spacer * .5) !important;
	margin-top: 300px;
	border-style: solid;
	border-width: medium
}
.Oferta{
	padding-left: ($spacer * .5) !important;
	padding-right: ($spacer * .5) !important;
	margin-top: 300px;
	border-style: solid;
	border-width: medium
}


.NuevaContraseña{
	border-style: solid;
	border-width: medium
}
.Visibilidad{
	border-style: solid;
	border-width: medium
}

.TestDeCompetencia{
	padding-left: ($spacer * .5) !important;
	padding-right: ($spacer * .5) !important;
	margin-top: 300px;
	border-style: solid;
	border-width: medium
}
 /* z-index: 2; */

 /* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer
{
    background-color:#DDD;
}
.navbar-footer-content { padding:14px 14px 14px 14px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}
