<html>
        <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
             integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
              <link rel="stylesheet" href="./HojaDeEstilo.css"/>
    
    
            <nav class="navbar navbar-expand-sm bg-light navbar-dark bg-dark">
    
                <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link" href="/perfilcandidato">Mi perfil</a>
                        </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/">Cerrar Sesion</a>
                    </li>
                </ul>
    
            </nav>
        </head>
    
        <body>
          <div class="toggleButton">
           <div class="border">
             <div class="button">
    
             </div>
           </div>
         </div>
         <div class="day">
          <div class="nsq" class="form-group col-md-12">
            <input type="trabajo" class="inputInicio1" class="form-control" id="inputTrabajo4" placeholder="Trabajo">
            <input type="ciudad" class="inputInicio2" class="form-control" id="inputCiudad4" placeholder="Ciudad">
              <button type="submit" class="btn btn-primary">Buscar</button>
          </div>
          <div class="container">
            <div class="row">
            
        </div>
            </div>
          </div>
          <div class="container">
            <div class="col-md-6">
              <label for="inputPassword4">Ofertas</label>
              <div class="invitaciones">
                <div class="card">
                  <div class="card-body">
                    <div class="day">
                    <h5 class="card-title">Puesto</h5>
                    <h5 class="card-title">Empresa</h5>
                    <h5 class="card-title">Ciudad</h5>
                    <h5 class="card-title">Area</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script type="text/javascript" src="ModoOscuro.js"></script>
        </body>
    
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </html>
    