<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
         <link rel="stylesheet" href="./HojaDeEstilo.css"/>

        <nav class="navbar navbar-expand-sm bg-dark">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/iniciousuario">Inicio</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/perfilcandidato">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Cerrar Sesion</a>
                  </li>
        </nav>
    </head>

    <body>
      <div id="21">
        <h1>Invitaciones</h1>
      </div>
      <div class="container">
        <div class="toggleButton">
          <div class="border">
            <div class="button">

            </div>
          </div>
        </div>
        <div class="day">
        <div class="row">
          <div class="col-md-">
            <div class="invitaciones">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Invitacion1</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="invitaciones">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Invitacion2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="invitaciones">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">I</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-">
              <div class="invitaciones">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Invitacion1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
                <div class="invitaciones">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Invitacion2</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="invitaciones">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">I</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <script type="text/javascript" src="ModoOscuro.js"></script>
    </body>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
