<html>
  <body>
    <% if (miVariable>0.5){ %>
      <ol>
      Hola
      <menu>
      </menu>
      </ol>
      <div> La variable es grande</div>
      <%}else{%>
      <div> La variable es chica</div>
      <% } %>
  </body>

</html>
