<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./HojaDeEstilo.css" />

  <nav class="navbar navbar-expand-sm bg-dark">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
  </nav>
</head>

<body>
  <div class="container">
    <div class="toggleButton">
      <div class="border">
        <div class="button">

        </div>
      </div>
    </div>
    <div class="day">
      <div class="row">
        <div class="col">
          <form action="/perfilgestorempresa" method="GET">
            <div class="form-group">
              <label for="exampleInputId1">Id Empresa</label>
              <input type="id" class="form-control" id="IdEmpresa" aria-describedby="idHelp" placeholder="Id Empresa" required>
              <small id="idHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Nombre Empresa</label>
              <input type="name" class="form-control" id="NombreEmpresa" aria-describedby="nameHelp" placeholder="Nombre Empresa" required>
              <small id="nombreHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="exampleInputDireccion1">Direccion</label>
              <input type="direccion" class="form-control" id="Direccion" aria-describedby="direccionHelp" placeholder="Direccion"
                required>
              <small id="direccionHelp" class="form-text text-muted"></small>
            </div>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="exampleInputCiudad1">Ciudad</label>
            <input type="ciudad" class="form-control" id="Ciudad" aria-describedby="ciudadHelp" placeholder="Ciudad" required>
            <small id="ciudadHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="exampleInputRubro1">Rubro</label>
            <input type="rubro" class="form-control" id="Rubro" aria-describedby="rubroHelp" placeholder="Rubro" required>
            <small id="rubroHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="exampleInputMail1">Mail</label>
            <input type="mail" class="form-control" id="Mail" aria-describedby="mailHelp" placeholder="Mail" required>
            <small id="mailHelp" class="form-text text-muted"></small>
          </div>

        </div>
      </div>
    </div>
    
        <div class="row">
          <div class="col">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck2">
              <label class="form-check-label" for="dropdownCheck2">
                Acepto Los Terminos
              </label>


              <input onclick="sendData()" type="submit" href="/perfilgestorempresa" class="btn btn-primary btn-lg" value="Enviar">
                <script>
                  /*router.get('/perfilcanididato', async function(req, res) {
                    let candidato = await Candidato.insert();
                    res.json(candidato.rows);
                  });*/
                  function sendData(){
                    console.log('hola');
                    let data = {
                      idEmpresa: document.getElementById('IdEmpresa').value,
                      nombre: document.getElementById('NombreEmpresa').value,
                      direccion: document.getElementById('Direccion').value,
                      ciudad: document.getElementById('Ciudad').value,
                      rubro: document.getElementById('Rubro').value,
                      mail: document.getElementById('Mail').value,
                    }
                    console.log(data);
                    fetch('http://localhost:3000/empresa', {
                              method: 'POST', // or 'PUT'
                              body: JSON.stringify(data), // data can be `string` or {object}!
                              headers:{
                                'Content-Type': 'application/json'
                              }
                            });
                  }


                </script>
              </input>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>

</body>

</html>
