<html>
	<head>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	 <link rel="stylesheet" href="./HojaDeEstilo.css"/>


	 <nav class="navbar navbar-expand-sm bg-dark">

		 <ul class="navbar-nav">
			    <li class="nav-item">
						<a class="nav-link" href="/iniciousuario">Inicio</a>
					  </li>
					<li class="nav-item">
					  <a class="nav-link" href="/perfilcandidato">Mi Perfil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/">Cerrar Sesion</a>
					  </li>
	 </nav>
		</head>
	<body>
		<div class="TestDeCompetencia">
			<div class="container">
				<div class="toggleButton">
          <div class="border">
            <div class="button">

            </div>
          </div>
        </div>
        <div class="day">
				<div class="row">
					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">R:</h5>
							<p>Lorem Impsum Dolor Sit Amet</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-body">
							<h5 class="card-title">12:00</h5>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
							<label class="form-check-label" for="gridRadios1">
								Lorem
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
							<label class="form-check-label" for="gridRadios2">
								Imsum
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
							<label class="form-check-label" for="gridRadios2">
								Dolor
							</label>
						</div>
					</div>
					<div class="col-sm-12">
							<a href="#" class="btn btn-primary">Comenzar Test</a>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script type="text/javascript" src="ModoOscuro.js"></script>
	</body>
</html>
